.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}

.history-list-items {
  position: relative;
}

.order-item {
  display: flex;
  width: 80%;
  padding: 2rem;
  margin-top: 1rem;
  background-color: #f6f6f6;
}
.order-item:last-of-type {
  margin-bottom: 1rem;
}

.view-nft {
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  background-color: #EB5E28;
  opacity: .68;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 1rem;
}

.view-nft:hover {
  opacity: .5;
}

.transfer-ownship {
  font-size: 1.2rem;
  color: grey;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.transfer-ownship:hover {
  font-size: 1.2rem;
  color: grey;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;

}

.ReactModal__Overlay {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;

}

.transfer-ownership-modal {
  width: 400px;
  height: 200px;
  outline: none;
  box-shadow: 5px 5px 3px grey;
  display: flex;
  position: relative;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f6f6f6;
}

.modal-heading {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.transfer-ownership-inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EB5E28;
  width: 80%;
}
.transfer-ownership-inputDiv-ns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 80%;
}

.transfer-ownership-input {
  border: none;
  background-color: transparent;
  height: 2rem;
  width: 100%;
  color: grey;
  font-weight: 500;
  margin-bottom: 0.2rem;
  outline: none;
}
.transfer-ownership-input::placeholder {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: grey;
}

.transferred-text {
  font-size: 1.6rem;
  color: green;
}

.notTransfered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}