.logo-component{
    height:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}