.product-view-container {
  overflow: scroll;
  height: 100%;
  width: 100%;
  display: flex;
}

.product-details-div {
  position: relative;
}
.product-view-image {
  height: 400px;
  width: 300px;
}

::-webkit-scrollbar {
  display: none;
}
