/* .product-view {
  display: grid;
} */

.products-view-container {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  margin-top: 1.5rem;
  gap: 0.2rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.products-notFound {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
/* .products-view-container > div{
  margin: 10% 0;
} */
