.products-view-container{
    position: relative;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    
}
/* .products-view-container > div{
    margin: 10% 0;
} */

.products-notFound {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: grey;
}
