#search-bar-input {
    border: none;
    flex-basis: 100%;
    border: none;
    /* border-bottom: 1px solid grey; */
    font-size: 1.6rem;
    outline: none !important;
    color: black;
}

#search-bar-input::placeholder {
    letter-spacing: 0.2rem;
    padding-left: 1.5rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 70%;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    margin-top: 4%;
}
.focus {
    border-bottom: #EB5E28 solid 2px;
}
.search-bar > img {
    margin-right: 1rem;
    align-self: center;
    margin-left: -0.5rem;
}

.search-icon {
    /* filter: invert(0%) sepia(100%) saturate(25%) hue-rotate(29deg) brightness(80%) contrast(107%); */
    filter: invert(36%) sepia(76%) saturate(870%) hue-rotate(341deg) brightness(109%) contrast(93%);
}
.search-icon-focus {
    filter: invert(36%) sepia(76%) saturate(870%) hue-rotate(341deg) brightness(109%) contrast(93%);
}