.view-child{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  padding-top: 2rem;
}

.view {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100vh;
  
}

