.product-card-container {
  height: 50%;
  width: 20%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  box-shadow: 1px 1px #DEDEDE;
  border-radius: 0.5rem;
  border: 0.2px black solid;
  padding: 0.1rem;
  margin-bottom: 2rem;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70%;
}

.product-image {
  opacity: 1;
  display: block;
  height: auto;
  backface-visibility: hidden;
  height: 70%;
  width: 70%
}

.product-hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .product-image-container:hover {
    margin: 8% 7%;
} */
/* .product-image-container:hover ~.product-card-container {
    
    margin: 9% 5%;
} */
.product-image-container:hover .product-image {
  opacity: 0.7;
  background-color:  #EB5E28;
}

.product-image-container:hover .product-hover {
  opacity: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.product-title-text {
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 0.8rem;
  margin-left: 1.5rem;
  height: 100%;
  width: 85%;
  color: black;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
.product-description-text {
  font-size: 12px;
  font-style: italic;
  /* padding: 10%; */
}

/* .buy-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buy-button {
  padding: 8px;
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 1.4rem;
}

.buy-button:hover {
  background: #000;
  border: 1px solid #000;
  color: #fff;
} */

.divider {
  background-color: grey;
  height: 0.5px;
  width: 80%;
  align-items: center;
}

#product-card-btn{
  border: none;
  outline: none;
  /* color: orangered; */
}