.wishlist {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding-left: 2rem;
  background-color: transparent;
  gap: 1rem;
  margin-bottom: 1rem;
}

.empty-cart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  color: grey;
  align-items: center;
}
.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  align-self: center;
  margin-left: 3rem;
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  gap: 3rem 10rem ;
}

.wishlist-item {
  width: 35%;
  height: 25%;
  background-color: #F6F6F6;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  position: relative;
}
.wishlist-item-product {
  width: 31%;
  height: 15rem;
  background-color: #F6F6F6;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  position: relative;
}
.wishlist-item:last-of-type {
  margin-bottom: 3rem;
}

.wishlist-item-image-container {
  width: 60%;
  height: 100%;
  display: flex;
  /* background-color: pink; */
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.wishlist-item-image {
  width: 50%;
  max-height: 100%;
  object-fit: contain;
  /* background-color: red; */
}
.wishlist-item-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* background-color: pink; */
  width: 50%;
  justify-content: center;
}

.wishlist-item-name {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.wishlist-item-price {
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  letter-spacing: 0.1rem;
}

.buy-btn {
  width: 50%;
  background-color: #EB5E28;
  opacity: .68;
  color: white;
  cursor: pointer;
  height: 3.5rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 1rem;
}
.buy-btn:hover {
  opacity: .5;
}

.remove-wishlist-item {
  position: absolute;
  cursor: pointer;
  top: 1.5rem;
  right: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}
.remove-wishlist-item-ns {
  position: absolute;
  cursor: pointer;
  top: 1.5rem;
  right: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  opacity: 0;
}

.bottom-row {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.addToCart {
  cursor: pointer;
}
